h1{
    color: blue;
    margin-left: 30px;
}

.header {
    background-color: pink;
    display: flex;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p,h2{
    text-align: center;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

body {
    background-color: #7fffd4;
}

a:link{
    color: blue;
}

a:visited{
    color:red;
}

.menu{
    margin-right: 30px;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity:0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
}